
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  /* shared styles */
  .display-flex{

display: flex;

  }

main{
  max-width: 1440px;
  margin:  0 auto;
}

main  > section{
  margin-top: 130px;
}

.text-gray{
  color: #424242;
}

.text-light-gray{
  color: #727272;
}
.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}
.brand{
  font-weight: 700;
  font-size: 3rem;
}
  .nav-item {
list-style: none;
margin-right: 30px;
  }
.nav-link{
  text-decoration: none;
}
.navbar{
justify-content: space-between;
align-items: center;
}
.navbar, .banner{
max-width: 1440px; 
margin: 0 auto;
}


/* banner section */
.btn-1{
  background-color:rgba(255, 144, 14, 1) ;
  font-size:20px;
  width: 12rem;
  height: 4rem;
  border: none;
  color: white;
  border-radius: 8px;
}

.banner-content{

max-width: 850px;
margin: 0 auto;
text-align: center;
margin-bottom: 50px;
}

.banner-title{
font-weight: 700;
font-size: 4rem;
}
.banner-img{
  width: 100%;
}

.teams{
  align-items: center;
}
.team-img-container{
  display: grid;
  grid-template-columns:repeat(2, 1fr);
  gap: 24px;
}

.our-features{
  margin-left: 130px;
  max-width: 500px;
}

.features-title{
  font-size: 2.8rem;
}
#fea{
  color: rgba(255, 144, 14, 1);
}



@media screen and (max-width: 576px) {
  .navbar, .nav-link{
    flex-direction: column;
  }
}

